/* --------------------- */
/* === START GENERAL === */
/* --------------------- */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:focus {
    outline: none;
}

body {
    background: #f2f2f2;
    color: #474747;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

::-webkit-input-placeholder {
    color: #474747;
}
:-moz-placeholder {
    color: #474747;
}
::-moz-placeholder {
    color: #474747;
}
:-ms-input-placeholder {
    color: #474747;
}

.wrapper {
    width: 100%;
}

.wrapper h1 {
    text-align: center;
}

#app {
    margin: 20px auto;
    padding: 7px;
    width: 479px;
    height: 591px;
    border: 1px solid grey;
    background: #fff;
}
/* ------------------- */
/* === END GENERAL === */
/* ------------------- */



/* ------------------- */
/* === START ICONS === */
/* ------------------- */
.icon {
    display: block;
    background-image: url(../images/icons.png);
}
.icon-woman {
    width: 38px;
    height: 31px;
    background-position: 0 0;
}
.icon-man {
    width: 27px;
    height: 31px;
    background-position: 107px 0;
}
.icon-kid {
    width: 24px;
    height: 31px;
    background-position: 77px 0;
}
.icon-favorites {
    width: 26px;
    height: 31px;
    background-position: 50px 0;
}
.icon-search {
    width: 12px;
    height: 12px;
    background-position: 13px 22px;
}
.icon-arrow {
    width: 14px;
    height: 8px;
    background-position: 14px 44px;
}
/* ----------------- */
/* === END ICONS === */
/* ----------------- */



/* ------------------ */
/* === START TABS === */
/* ------------------ */
.nav-tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    border-bottom: 8px solid #474747;
    text-align: center;
}
.nav-tabs li {
    float: left;
}
.nav-tabs li.woman { width: 105px; }
.nav-tabs li.man { width: 89px; }
.nav-tabs li.kid { width: 116px; }
.nav-tabs li.favorites { width: 153px; }
.nav-tabs a {
    display: block;
    font-size: 14px;
    color: #474747;
    padding: 8px;
}
.nav-tabs li a:hover,
.nav-tabs li.active a {
    background: #474747;
    color: #fff;
}
.nav-tabs a .icon {
    margin: 0 auto 2px;
}
.nav-tabs li a:hover .icon.icon-woman,
.nav-tabs li.active a .icon.icon-woman {
    background-position: 0 31px;
}
.nav-tabs li a:hover .icon.icon-man,
.nav-tabs li.active a .icon.icon-man {
    background-position: 107px 31px;
}
.nav-tabs li a:hover .icon.icon-kid,
.nav-tabs li.active a .icon.icon-kid {
    background-position: 77px 31px;
}
.nav-tabs li a:hover .icon.icon-favorites,
.nav-tabs li.active a .icon.icon-favorites {
    width: 26px;
    height: 31px;
    background-position: 50px 31px;
}
.tab-content {
    border: 1px solid #d8d9db;
    border-top: none;
}
.tab-content .tab-pane {
    display: none;
    height: 452px;
    overflow: auto;
}
.tab-content .tab-pane.active {
    display: block;
}
/* ------------------ */
/* === END TABS === */
/* ------------------ */



/* -------------------- */
/* === START SEARCH === */
/* -------------------- */
.search {
    background: #f2f2f2;
    padding: 9px 7px;
    border: 1px solid #d8d9db;
    border-top: none;
}
.search .form-control {
    position: relative;
    width: 93%;
    background: #fff;
    padding: 3px 35px 4px 5px;
    border: 1px solid #d8d9db;
}
.search .form-control .icon {
    position: absolute;
    top: 7px;
    right: 7px;
}
.search input {
    border: none;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 13px;
}
/* ------------------ */
/* === END SEARCH === */
/* ------------------ */



/* ----------------------- */
/* === START ACCORDION === */
/* ----------------------- */
.accordion {
    border-bottom: 1px solid #d8d9db;
    overflow: hidden;
}
.accordion .header {
    position: relative;
    font-size: 15px;
    padding: 11px 8px;
    line-height: 1;
}
.accordion .header .icon {
    position: absolute;
    top: 15px;
    right: 7px;
}
.accordion .header:hover {
    cursor: pointer;
}
.accordion .body {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .5s ease;
    -moz-transition: max-height .5s ease;
    -ms-transition: max-height .5s ease;
    -o-transition: max-height .5s ease;
    transition: max-height .5s ease;
}
.accordion .body .content {
    padding: 0 4px 11px;
    overflow: hidden;
}
.accordion.opened .header .icon {
    background-position-y: 58px;
}
.accordion.opened .body {
    max-height: 107px;
}
.accordion .body .col {
    float: left;
    width: 33.33%;
    padding: 0 4px;
}
.accordion .body .item {
    display: block;
    color: #ee5d68;
    font-size: 13px;
}
/* --------------------- */
/* === END ACCORDION === */
/* --------------------- */